<h4>Manage Product</h4>
<div class="main--class">
    <a asp-controller="Admin" asp-action="Add" class="btn btn-primary btn--class">AddProduct</a>

    <table class="table--class">
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Date Added</th>
            <th>Product Image</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Rolex</td>
            <td>100,000</td>
            <td>1/1/24</td>
            <td>No Image</td>
            <td>
                <a href="#">Delete</a>|
                |<a href="#">Edit</a>
            </td>
        </tr>
    </table>
</div>