
<h4>Manage User</h4>
<div class="main--class">
    <a asp-controller="Admin" asp-action="Add" class="btn btn-primary btn--class">AddProduct</a>

    <table class="table--class">
        <tr>
            <th>First Name</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Medal Code</td>
            <td>08068854788</td>
            <td>Admin</td>
            <td>utobonnyb@gmail.com</td>
            <td>
                <a href="#">Delete</a>|
                |<a href="#">Edit</a>
            </td>
        </tr>
    </table>
</div>