

<div>
    <div class="background--image--class">
        <img src="~/assets/images/admin/admin_photo.jpg" class="img--class"/>
    </div>
    <div class="background--text--class">
        <h1>Welcome Admin !</h1>
        <h2>You have the control panel all to yourself</h2>
    </div>
</div>