@model ForgotPasswordViewModel
@{

}

<div>Forgot Password?</div>

<div class="main-content-wrap section-ptb lagin-and-register-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 m-auto">
                <div class="login-register-wrapper">

                    <div id="lg2" class="tab-pane">
                        <div class="login-form-container">
                            <div class="login-register-form">
                                <h4>Forgot Password?</h4>
                                <div asp-validation-summary="All"></div>
                                <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnUrl="" method="post">
                                    <div class="login-input-box">
                                        <input asp-for="Email" placeholder="Email">
                                    </div>
                                    <div class="button-box">
                                        <div class="login-toggle-btn">
                                            <p>
                                               Still remember Password? <a asp-action="Login" asp-controller="Account">Login</a>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="button-box">
                                        <button class="login-btn btn" type="submit"><span>Send</span></button>
                                    </div>

                                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                                    {
                                        <p>@ViewBag.Message</p>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
