@model ResetPasswordViewModel
@{

}

<div>Reset Password?</div>

<div class="main-content-wrap section-ptb lagin-and-register-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 m-auto">
                <div class="login-register-wrapper">

                    <div id="lg2" class="tab-pane">
                        <div class="login-form-container">
                            <div class="login-register-form">
                                <h4>Reset Password?</h4>
                                <div asp-validation-summary="All"></div>
                                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                                    <div class="login-input-box">
                                        <input asp-for="Email" placeholder="Email">
                                        <input asp-for="Token" placeholder="Token" hidden>
                                        <input asp-for="NewPassword" placeholder="Enter New Password">
                                    </div>
                                  
                                    <div class="button-box">
                                        <button class="login-btn btn" type="submit"><span>Send</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>



