<!-- Hero Section Start -->
<div class="hero-slider hero-slider-one">

    <!-- Single Slide Start -->
    <div class="single-slide" style="background-image: url(assets/images/slider/slide-bg-2.jpg)">
        <!-- Hero Content One Start -->
        <div class="hero-content-one container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="slider-content-text text-left">
                        <h5>Exclusive Offer -20% Off This Week</h5>
                        <h1>H-Vault Classico</h1>
                        <p>H-Vault Watches Are A Lot Like Classic American Muscle Cars - Expect For The American Part That Is. </p>
                        <p>Starting At <strong>$1.499.00</strong></p>
                        <div class="slide-btn-group">
                            <a href="shop.html" class="btn btn-bordered btn-style-1">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Content One End -->
    </div>
    <!-- Single Slide End -->
    <!-- Single Slide Start -->
    <div class="single-slide" style="background-image: url(assets/images/slider/slide-bg-1.jpg)">
        <!-- Hero Content One Start -->
        <div class="hero-content-one container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="slider-content-text text-left">
                        <h5>Exclusive Offer -20% Off This Week</h5>
                        <h1>H-Vault Classico</h1>
                        <p>H-Vault Watches Are A Lot Like Classic American Muscle Cars - Expect For The American Part That Is. </p>
                        <p>Starting At <strong>$1.499.00</strong></p>
                        <div class="slide-btn-group">
                            <a href="shop.html" class="btn btn-bordered btn-style-1">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Content One End -->
    </div>
    <!-- Single Slide End -->

</div>
<!-- Hero Section End -->
<!-- Banner Area Start -->
<div class="banner-area section-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-banner mb-30">
                    <a href="#"><img src="assets/images/banner/banner-01.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6  col-md-6">
                <div class="single-banner mb-30">
                    <a href="#"><img src="assets/images/banner/banner-02.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>