


.section--class {
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 100vh;
    text-align:center;
}

.section--class ul{
    font-size:20px;
    list-style:none;
    color:antiquewhite;
    margin-top:30px;
}

.section--class li {
    margin:20px 0px 20px; 
}
.panel--class {
    width: 20%;
    height: 100vh;
    background: #222222;
    text-align:left;
    padding-left:10px;
}


.layout--class {
    width: 80%;
    height: 100vh;
    background-color:aliceblue;
}

.table--class{
    width:100%;
}

.table--class th{
    align-items:center;
}

.background--image--class {
    position: relative;
    height: 100vh;
    width: 100%;
}

.img--class{
    height:100vh;
    width:100%;
}

.background--text--class {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 400px;
    left:35%;
    bottom:25%
    /*transform: translate(-50%, -50%);*/
    width: 50%; /* Adjust the width as needed */
    text-align: center;
}

.background--text--class h1 {
    color: darkslateblue;
}
.background--text--class h2 {
    color: lawngreen;
}

.btn--class{
    /*margin-left:auto;*/
    float:right;
    border:none;
    background:black;
}

.main--class a{
    color:yellowgreen;
}

.detail--box{
    display:flex;
    justify-content:space-around;
    margin:20px 100px 0px;
}

.detail--field{
    margin-bottom:10px;
    background-color:orange;
    margin-top:10px;
    width:50%;
    align-items:center;
    margin-left:10px;
    border-radius:5px;
}

.inner--field{
    display:flex;
    justify-content:space-between;
}

.name--field{
    margin-right:200px;
}

.role--field {
    margin-bottom: 10px;
    background-color: orange;
    margin-top: 10px;
    width: 50%;
    align-items: center;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.hide--panel{
    display:none;
}

.show--panel{
    display:block;
}

.error--m{
    font-family:Tahoma;
    color:#dddddd;
    font-weight:bold;
    font-size:45px;
}

.access-denied-img{
    width:50%;
    height:50%;
    align-items:center;
    display:flex;
    justify-content:center;
    text-align:center;
    margin-left:400px;
}
